.project
.settings
bin
gen
out
.DS_Store
local.properties
target
gen-external-apklibs
*.iml
*.log
.idea
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
classes
ApiKeys.java
.gradle
app/src/beta
app/src/release
app/seed.txt
build/
*/crashlytics.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
extras
captures
.externalNativeBuild
app/gradle.properties
.cxx
*-key-store
*.jks
/app/src/main/java/com/jibres/android/keys.java
/app/src/main/assets/json/intro_default.json
/app/src/main/assets/json/splash_default.json
/app/src/main/assets/secret/endpoint.txt
/app/src/main/assets/secret/store.txt
/app/src/main/res/drawable/logo.png
/app/src/main/res/values/app_name.xml
