<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jibres.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".JibresApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_xml"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_xml"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.security.pincode.PincodeManagerActivity"></activity>
        <activity android:name=".activity.security.pincode.PincodeActivity" />
        <activity android:name=".activity.security.fingerprint.FingerprintActivity" />
        <activity android:name=".activity.security.sessions.SessionsActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HtmlViewActivity" />
        <activity android:name=".activity.about.AboutAppActivity" />
        <activity android:name=".activity.about.AboutActivity" />
        <activity android:name=".activity.profile.ProfileActivity" />
        <activity android:name=".activity.setting.SettingsActivity" />
        <activity android:name=".activity.enter.EnterActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.intro.IntroActivity" />
        <activity android:name=".activity.language.LanguageActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>